<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FUNDEASE</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">FUNDEASE</div>
        <nav>
            <ul>
                <li><a href="/start">Startups</a></li>
                <li><a href="/inv">Investors</a></li>
                <li><a href="/community">Community</a></li>
            </ul>
        </nav>
        <div class="auth-buttons">
            <a href="login.html" class="login">Login/Signup</a>
        </div>
    </header>

    <section class="hero">
        <div class="content">
            <h2>Smarter Growth, Faster Funding</h2>
            <h1>FUNDEASE</h1>
            <p>Grow Your Business with joining hands with the great Investors.<br>Here startups meet their perfect
                matches...</p>
            <div class="buttons">
                <a href="login.html" class="btn blue">LOGIN</a>
                <a href="login.html" class="btn white">SIGN UP</a>
            </div>
        </div>
        <div class="image">
            <img src="https://theraise.eu/wp-content/uploads/2024/05/Startups_746x419.jpg">
        </div>
    </section>
    <footer>
        <div class="footer-links">
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Disclosures</a>
            <a href="#">Cookie Settings</a>
            <span>© AL Advisors Management Inc.</span>
        </div>
        <p class="disclaimer">
            <strong>Disclaimer:</strong> The information contained herein is provided for informational and discussion
            purposes only and is not intended to be a recommendation for any investment, service, product, or other
            advice of any kind, and shall not constitute or imply an offer of any kind. Any investment opportunities
            and/or products or services shown here will only be completed pursuant to formal offering materials...
        </p>
        <div class="social-icons">
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/ishaan-sharma-611361326/"><i class="fab fa-linkedin"></i></a>
            <a href="https://x.com/IshaanSharma06"><i class="fab fa-twitter"></i></a>
        </div>
    </footer>
</body>

</html>